/* ШРИФТЫ */

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.container {
    width: calc((1180/1600)*100%);
    padding: 0;
    margin: 0 auto;
}

.main-header {
    min-height: calc((881/900)*76.8rem);
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, transparent 75%, rgba(45, 9, 60, 0.67)) no-repeat, url("../images/header-bg.png") center no-repeat;
    background-size: cover;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc((20/900)*76.8rem) 0;
    margin: 0;
    margin-bottom: calc((245/900)*76.8rem);
}

.logo {
    width: calc((67/1180)*100%);
    min-width: 50px;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
}

.logo img {
    width: 100%;
}

.header-menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    vertical-align: middle;
}

.header-menu li:last-of-type {
    width: 1.1rem;
    height: 1.1rem;
    padding: 1.05rem 0;
    background: url("../images/hamburger-menu.png") center no-repeat;
}

.header-menu li:last-of-type:hover {
    cursor: pointer;
}

.header-menu a {
    display: inline-block;
    padding: 1rem 0;
    font-size: 1.22rem;
    color: rgb(255, 255, 255);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
}

.header-menu a:hover {
    padding-bottom: 0.8rem;
    border-bottom: 0.2rem solid rgb(255, 255, 255);
    filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
}

.header-menu a:active {
    opacity: 0.7;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-title {
    padding: 0;
    margin: 0;
    margin-bottom: calc((30/900)*76.8rem);
}

.promo-title p {
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.promo-title .first-title {
    margin-bottom: calc((8/900)*76.8rem);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    color: rgb(232, 215, 217);
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.promo-title .second-title {
    font-size: 8.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.btn {
    display: inline-block;
    width: calc((275/1180)*100%);
    min-width: 180px;
    padding: 0;
    margin: 0;
    margin-bottom: calc((36/900)*76.8rem);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 3.4;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    border-radius: 3px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    transform: scale(1.02);
}

.btn:active {
    transform: scale(1);
    outline: none;
}

.promo .subtext {
    padding: 0;
    margin: 0;
    font-size: 1.23rem;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.subtext strong {
    text-decoration: underline;
}

.features {
    padding: calc((90/900)*76.8rem) 0 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.features .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((365/1180)*100%);
    padding: 0;
    margin: 0;
    margin-bottom: calc((40/900)*76.8rem);
}

.feature-item:last-child {
    margin-bottom: calc((90/900)*76.8rem);
}

h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.6rem;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.features h3 {
    position: relative;
    padding-top: calc((125/900)*76.8rem);
}

.features h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    box-sizing: border-box;
    width: 8.9rem;
    height: 8.9rem;
    padding: 0;
    margin: 0;
    margin-left: -4.45rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.feature-item:first-child h3::before {
    background: url("../images/feauture-1.png") center no-repeat;
    background-size: 55%;
}

.feature-item:nth-child(2) h3::before {
    background: url("../images/feauture-2.png") center no-repeat;
    background-size: 55%;
}

.feature-item:last-child h3::before {
    background: url("../images/feauture-3.png") center no-repeat;
    background-size: 55%;
}

hr {
    width: calc((88/365)*100%);
    min-width: 6rem;
    padding: 0;
    margin: 0;
    margin-bottom: calc((10/900)*76.8rem);
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(245, 115, 101);
}

.features p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.app {
    box-sizing: border-box;
    min-height: calc((857/900)*76.8rem);
    padding: calc((180/900)*76.8rem) 0 0;
    margin: 0;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

.app .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.app .wrapper {
    position: relative;
    max-width: 44.5rem;
    padding: 0;
    margin: 0;
}

.app .wrapper::before {
    content: "";
    position: absolute;
    top: -17.5%;
    right: 121%;
    display: block;
    width: 45rem;
    height: calc((782/900)*76.8rem);
    background-color: rgb(0, 0, 0);
    background: url("../images/iphone.png") 0 top no-repeat;
    background-size: 100%;
}

.app h3 {
    text-align: left;
}

.app hr {
    width: calc((88/540)*100%);
    margin-bottom: calc((10/900)*76.8rem);
}

.app p {
    padding: 0;
    margin: calc((10/900)*76.8rem) 0 calc((27/900)*76.8rem);
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.app p:last-of-type {
    margin-bottom: calc((23/900)*76.8rem);
}

.app a {
    display: inline-block;
    width: calc((112/540)*100%);
    min-width: 9.2rem;
    height: calc((40/900)*76.8rem);
    padding: 0;
    margin: 0 calc((10/900)*76.8rem) 0 0;
}

.app .iphone {
    background: url("../images/app-store.png") 0 0 no-repeat;
    background-size: 100%;
}

.app .android {
    width: calc((120/540)*100%);
    min-width: 9.8rem;
    background: url("../images/google-play.png") 0 0 no-repeat;
    background-size: 100%;
}

.review {
    box-sizing: border-box;
    min-height: calc((460/900)*76.8rem);
    padding: calc((75/900)*76.8rem) 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: 100;
    background: rgb(74, 57, 73) url("../images/review-bg.png") 65% bottom no-repeat;
    background-size: contain;
}

.review .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review .comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: calc((37/900)*76.8rem);
}

.review .author-photo {
    max-width: 9.7rem;
    padding: 0;
    margin: 0;
    margin-bottom: calc((15/900)*76.8rem);
}

.review .comment-text {
    max-width: 75.8rem;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: calc((15/900)*76.8rem);
}

.review .comment-text::before {
    content: "“";
}

.review .comment-text::after {
    content: "”";
}

.review .comment-author {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
}

.review .comment-author::before, .review .comment-author::after{
    content: " - ";
}

.comment-slider {
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
}

.slider-btn {
    display: inline-block;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0;
    margin-right: 9px;
    text-decoration: none;
    outline: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0.3;
}

.slider-btn:last-of-type {
    margin-right: 0;
}

.slider-btn:hover {
    opacity: 0.6;
}

.slider-btn:active {
    opacity: 0.45;
}

.slider-btn.active {
    opacity: 1;
}

.cuisines {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: calc((95/900)*76.8rem);
    margin: 0;
}

.cuisines hr {
    width: calc((88/1600)*100%);
    margin-bottom: calc((40/900)*76.8rem);
}

.cuisines .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.cuisine-group {
    position: relative;
    flex: 1 1 auto;
    width: 250px;
    padding: 0;
    padding-top: calc((225/900)*76.8rem);
    margin: 0;
}

.group-name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 2.9rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    background-color: rgb(245, 115, 101);
}

.group-name::before {
    content: attr(data-number);
    position: absolute;
    top: 32%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.cuisine-group:first-child .group-name {
    background: url("../images/cuisine-1.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(2) .group-name {
    background: url("../images/cuisine-2.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(3) .group-name {
    background: url("../images/cuisine-3.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(4) .group-name {
    background: url("../images/cuisine-4.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(5) .group-name {
    background: url("../images/cuisine-5.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(6) .group-name {
    background: url("../images/cuisine-6.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(7) .group-name {
    background: url("../images/cuisine-7.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(8) .group-name {
    background: url("../images/cuisine-8.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:nth-child(9) .group-name {
    background: url("../images/cuisine-9.png") center no-repeat;
    background-size: cover;
}

.cuisine-group:last-child .group-name {
    background: url("../images/cuisine-10.png") center no-repeat;
    background-size: cover;
}

.numbers {
    box-sizing: border-box;
    padding: calc((55/900)*76.8rem) 0 0;
    margin: 0;
}

.numbers .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number-item {
    margin-right: 20px;
    margin-bottom: calc((25/900)*76.8rem);
}

.number-item:last-of-type {
    margin-right: 0;
    margin-bottom: calc((55/900)*76.8rem);
}

.number {
    padding: 0;
    margin: 0;
    margin-bottom: calc((10/900)*76.8rem);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.number-description {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
}

.main-footer {
    padding: calc((40/900)*76.8rem) 0;
    margin: 0;
    font-size: 1.3rem;
    color: rgb(139, 139, 139);
    font-weight: 300;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid rgb(226, 226, 226);
}

.main-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    padding: 0;
    margin: 0;
    color: rgb(197, 197, 197);
    line-height: 1;
    text-transform: capitalize;
}

address {
    padding: 0;
    margin: 0;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

address a {
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    outline: none;
}

address a:hover {
    border-bottom: 1px solid;
}

address a:active {
    opacity: 0.7;
}

@media (max-width: 1200px) {
    .features .container {
        width: calc((1300/1600)*100%);
    }
    .cuisines {
        padding-top: calc((80/900)*76.8rem);
    }
}

@media (max-width: 1024px) {
    .main-header {
        min-height: calc((836/900)*76.8rem);
    }
    .top-header {
        margin-bottom: calc((200/900)*76.8rem);
    }
    .features .container {
        width: calc((1450/1600)*100%);
    }
    h3 {
        font-size: 1.6rem;
    }
    .features p {
        font-size: 1.35rem;
        line-height: 1.45;
    }
    .review .comment-text {
        max-width: 70rem;
    }
    .cuisines {
        padding-top: calc((70/900)*76.8rem);
    }
    .cuisines hr {
        margin-bottom: calc((35/900)*76.8rem);
    }
}

@media (max-width: 948px) {
    .app {
        min-height: 0;
        padding: calc((100/900)*76.8rem) 0;
    }
    .app .wrapper {
        margin: 0 auto;
    }
    .app .wrapper::before {
        display: none;
    }
}

@media (max-width: 840px) {
    .numbers .container {
        width: calc((1000/1600)*100%);
        justify-content: space-evenly;
    }
    .number-item {
        margin: 0 20px;
        margin-bottom: calc((25/900)*76.8rem);
    }
    .number-item:last-of-type {
        margin-right: 20px;
        margin-bottom: calc((55/900)*76.8rem);
    }
}

@media (max-width: 768px) {
    .main-header {
        min-height: 0;
        padding-bottom: calc((200/900)*76.8rem);
    }
    .top-header {
        margin-bottom: calc((170/900)*76.8rem);
    }
    .features .container {
        flex-wrap: wrap;
        justify-content: space-around;
        width: calc((1180/1600)*100%);
    }
    .feature-item {
        flex: 1 1 250px;
        max-width: 334px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .features p {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .app {
        padding: calc((70/900)*76.8rem) 0;
    }
    .app p {
        margin-bottom: calc((15/900)*76.8rem);
    }
    .review {
        min-height: 0;
        padding: calc((60/900)*76.8rem) 0;
    }
    .review .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: calc((37/900)*76.8rem);
    }
    .review .comment-text {
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-size: 2.3rem;
        line-height: 1.4;
        margin-bottom: calc((15/900)*76.8rem);
    }
    .review .comment-author {
        font-size: 1.4rem;
    }
    .cuisines hr {
        margin-bottom: calc((30/900)*76.8rem);
    }
    .numbers .container {
        width: calc((1190/1600)*100%);
    }
    .main-footer {
        padding: calc((30/900)*76.8rem) 0;
        margin: 0;
        font-size: 1.3rem;
        color: rgb(139, 139, 139);
        font-weight: 300;
        background-color: rgb(247, 247, 247);
        border-top: 1px solid rgb(226, 226, 226);
    }
    .main-footer .container {
        flex-direction: column;
        align-items: center;
    }
    .copyright {
        margin-bottom: calc((6/900)*76.8rem);
    }
    address {
        line-height: 1.1;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .main-header {
        padding-bottom: calc((200/900)*76.8rem);
    }
    .top-header {
        margin-bottom: calc((160/900)*76.8rem);
    }
    .promo-title {
        margin-bottom: calc((24/900)*76.8rem);
    }
    .promo-title .first-title {
        margin-bottom: calc((5/900)*76.8rem);
        font-size: 2.7rem;
    }
    .promo-title .second-title {
        font-size: 7.5rem;
    }
    .btn {
        margin-bottom: calc((32/900)*76.8rem);
        font-size: 1.4rem;
        line-height: 3;
    }
    .promo .subtext {
        font-size: 1.1rem;
    }
    .features {
        padding: calc((70/900)*76.8rem) 0 0;
    }
    .feature-item {
        margin-left: 10px;
        margin-right: 10px;
    }
    .feature-item:last-child {
        margin-bottom: calc((70/900)*76.8rem);
    }
    h3 {
        font-size: 1.5rem;
    }
    .features h3 {
        padding-top: calc((110/900)*76.8rem);
    }
    .features h3::before {
        width: 7.8rem;
        height: 7.8rem;
        margin-left: -3.9rem;
    }
    .feature-item:first-child h3::before {
        background-size: 48%;
    }
    .feature-item:nth-child(2) h3::before {
        background-size: 48%;
    }
    .feature-item:last-child h3::before {
        background-size: 48%;
    }
    .features p {
        line-height: 1.4;
    }
    .numbers .container {
        width: calc((1350/1600)*100%);
    }
}

@media (max-width: 480px) {
    .main-header {
        padding-bottom: calc((160/900)*76.8rem);
    }
    .top-header {
        margin-bottom: calc((120/900)*76.8rem);
    }
    .logo {
        min-width: 45px;
    }
    .promo-title {
        margin-bottom: calc((25/900)*76.8rem);
    }
    .promo-title .first-title {
        margin-bottom: calc((2/900)*76.8rem);
        font-size: 2rem;
        letter-spacing: 0.5px;
    }
    .promo-title .second-title {
        font-size: 6rem;
        letter-spacing: 2px;
    }
    .btn {
        min-width: 130px;
        margin-bottom: calc((25/900)*76.8rem);
        font-size: 1.2rem;
        line-height: 2.4;
        border-width: 2px;
        border-radius: 2px;
    }
    .promo .subtext {
        max-width: 190px;
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
    }
    h3 {
        font-size: 1.4rem;
    }
    .review {
        padding: calc((55/900)*76.8rem) 0;
        background-size: 100%;
    }
    .review .author-photo {
        max-width: 8.5rem;
    }
    .review .comment-text {
        font-size: 1.85rem;
        line-height: 1.4;
    }
    .review .comment-author {
        font-size: 1.35rem;
    }
    .slider-btn {
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }
    .number {
        padding: 0;
        margin: 0;
        margin-bottom: calc((6/900)*76.8rem);
        font-size: 2.7rem;
        line-height: 1;
    }
}

@media (max-width: 320px) {
    .main-header .container {
        width: calc((1200/1600)*100%);
    }
    .header-menu li {
        margin-left: 15px;
    }
    .promo-title {
        margin-bottom: calc((22/900)*76.8rem);
    }
    .promo-title .first-title {
        font-size: 1.8rem;
    }
    .promo-title .second-title {
        font-size: 5rem;
    }
    .features {
        padding: calc((60/900)*76.8rem) 0 0;
    }
    .features .container {
        width: calc((1250/1600)*100%);
    }
    .feature-item:last-child {
        margin-bottom: calc((60/900)*76.8rem);
    }
    .features h3 {
        padding-top: calc((100/900)*76.8rem);
    }
    .features h3::before {
        width: 7rem;
        height: 7rem;
        margin-left: -3.5rem;
    }
    .features p {
        line-height: 1.35;
    }
    .cuisines {
        padding-top: calc((50/900)*76.8rem);
    }
    .cuisines hr {
        margin-bottom: calc((25/900)*76.8rem);
    }
}